.card-item{
  padding: 10px;

  position: relative;

   &:hover{
      .x-icon-button{
        opacity: 1;
        transform: scale(1);
      }
    }
  .x-icon-button{
    position: absolute;
    background: lightgray;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    right:0;
    top: -3px;
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }

    span {
      padding-left: 7px;
    }
  }
   
}

.card {
  cursor: pointer;
  display: flex;
  width: 100%;
  border-radius: 8px;
  transition: background-color 0.2s ease-out;
   &:hover {
    background: rgba(0,0,0,.05);
  }
}

.item {
  display: flex;
  width: 100%;
  padding: 8px;

  p{
    margin-bottom: 0;
  }
  .description {
    flex-grow: 1;
    margin-left: 5px;
    margin-top: 3px; 
  }

  .amount{
    padding: 5px;
    border-radius: 5px;
    background: lightgray;
 
  }

 
}

.expenses{
  p {
    color: #dc3545;
  }

  .amount {
    background: #dc354648;
  }
}

.income{
  p {
    color: #28a745;
  }

  .amount {
    background: #28a7463a;
  }
}

