<section class="section-item" style="margin: 10px;">
  <div class="contaier div-item">
    <div class="row">
      <div class="col-6 income">
        <h4>Income</h4>
        <div *ngFor="let item of Items">
           <card-item 
            *ngIf="item.amount >= 0"
            [item]="item"
            (buttonClick)="ondelete(item)"
            (cardClick)="onCardClick(item)"></card-item>
        </div>
      </div>
      <div class="col-6 expenses">
        <h4>Expenses</h4>
        <div *ngFor="let item of Items">
           <card-item 
            *ngIf="item.amount < 0"
            [item]="item"
            (buttonClick)="ondelete(item)"
            (cardClick)="onCardClick(item)"></card-item>
        </div>
      </div>
    </div>
  </div>
</section>
