<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)"  style="margin: 10px;">
  <div class="row">
    <div class="col-3">
      <input  type="number" name="amount" required min="-10000" max="10000" class="form-control" placeholder="Amount" [ngModel]="item.amount">
    </div>
    <div class="col-9">
      <div class="input-group mb-3">
        <input type="text" class="form-control" required placeholder="Description" aria-label="Description" aria-describedby="basic-addon2" name="description" [ngModel]="item.description">
        <div class="input-group-append">
          <button class="btn" type="submit" [ngClass]="{ 'btn-outline-primary': isNewItem, 'btn-outline-success': !isNewItem}" [disabled]="itemForm.invalid">
            <span *ngIf="isNewItem">Add</span>
            <span *ngIf="!isNewItem">Save</span>

          </button>
        </div>
      </div>
    </div>
  </div>
</form>