<div class="container">
 
<div class="card">
  <div class="card-header cursor-pointer" (click)="isShow=!isShow">
  <h3><i *ngIf="isShow" class="fas fa-arrow-alt-circle-up"></i> 
  <i *ngIf="!isShow" class="fas fa-arrow-alt-circle-down"></i> 
  Technology Demonstrated for {{title}} </h3>
  </div>
  <ul *ngIf="!isShow" class="list-group" >
    <li class="list-group-item">Material Dialog Modal</li>
    <li class="list-group-item">Observables to pass values
</li>
        <li class="list-group-item">Parent component to child component interaction (@input and @output decorator)</li>
          <li class="list-group-item">Application navigation with a routing module</li>   
    <li class="list-group-item">Direct Component and Lazy Loading Route </li> 
    <li class="list-group-item">Data Services to get day from a file</li> 
    <li class="list-group-item">Custome Filter Pipe to filter data </li> 

     <li class="list-group-item">Expand and collapseable card
      <span class="badge badge-primary">Click on header above</span></li>

</ul>
</div>

</div>

<budget-calculator></budget-calculator>

